.text_16_2_5 {
    font: bold 48px monospace;
    fill: white;
}

.update_16_2_5 {
    fill: #333;
}

.enter_16_2_5 {
    fill: green;
}

.exit_16_2_5 {
    fill: brown;
}

.container_16_2_5 {
    fill: none;
    stroke: black;
    stroke-width: 1;
}