#ratio {
    font: bold 24px monospace;
}

.type1_2_12_16 {
    fill: #3333ff;
}

.type2_2_12_16 {
    fill: #e67300;
}

.type1_update_2_12_16 {
    fill: #3333ff;
}

.type2_update_2_12_16 {
    fill: #e67300;
}

.container_2_12_16 {
    fill: none;
    stroke: black;
    stroke-width: 1;
}